/.ipynb_checkpoints
/BotFramework-Emulator-4.14.1-linux-x86_64.AppImage
/EXERCICES
/frames
/frames.zip
/p10_venv
**/__pycache__
.env
.venv
.vscode
test_data.json
train_agree.json
train_disagree.json
train_greeting.json
train_inform.json
sample.json
config.py

