aiohttp>=3.6.2,<3.8.0  
applicationinsights==0.11.9
botbuilder-ai==4.14.2
botbuilder-applicationinsights==4.14.2
botbuilder-core==4.14.2
botbuilder-dialogs==4.14.2
botbuilder-integration-aiohttp==4.14.2
botbuilder-integration-applicationinsights-aiohttp==4.14.2
botbuilder-schema==4.14.2
botframework-connector==4.14.2
botframework-streaming==4.14.2
pytest==7.1.2
python-dotenv==0.20.0

